<div class="search-wrapper">
  <i class="bi bi-search search-icon-left"></i>
  <input type="text"
         class="search-input"
         [placeholder]="placeholder"
         [(ngModel)]="searchQuery"
         [disabled]="disabled"
         (input)="onInput()"
         (blur)="hideResults()" />
  <i class="bi bi-arrow-repeat search-spinner" *ngIf="isSearching"></i>
  <button class="search-clear-btn" *ngIf="searchQuery && !isSearching" (click)="clear()">
    <i class="bi bi-x-lg"></i>
  </button>
</div>
<ul class="search-results" *ngIf="showResults">
  <li *ngFor="let result of searchResults" (mousedown)="selectResult(result)">
    <i class="bi bi-geo-alt result-icon"></i>
    <div class="result-content">
      <span class="result-name">{{ result.name }}</span>
      <span class="result-type">{{ result.type }}</span>
      <span class="result-address">{{ result.address }}</span>
    </div>
  </li>
</ul>
